.account-header {
    display: block;
}

.menu_container {
    grid-gap: 2rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    text-decoration: none;
}

.menu-card {
    align-items: center;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    font-size: 1.26rem;
    padding: .5rem;
}

.menu-body {
    border-radius: 6px;
    flex-grow: 1;
}

.title {
    font-weight: bold;
}