main {
	margin: auto 2.4%;
	text-align: center;
	padding: 0 20%;
}
main > h1 {
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 2rem;
	margin: 0 0 1.5rem;
}
.home-btn {
	max-width: 20rem;
	border: 1px solid #141414;
	padding: 0 5rem;
	text-transform: capitalize;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	transition: 0.3s;
	height: 3rem;
	line-height: 2.3rem;
	cursor: pointer;
	background-color: #fff;
	color: #141414;
	box-sizing: border-box;
	white-space: nowrap;
	font-weight: 700;
	margin-top: 4rem;
}
.home-btn:hover {
	color: #fff;
	background-color: #141414;
}
.order-list {
	text-align: center;
}
.order-box.content {
	display: block;
	font-size: 18px;
	margin: 0;
	font-weight: 700;
}
.order-history {
	font-size: 14px;
	font-weight: 400;
}
.content {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
}
.content:last-child {
	border-bottom: none;
}
.title-content {
	font-weight: 700;
}
