.rankedproducts {
	padding: 40px 0 0 190px;
	width: 100%;
}
.rankedproducts .title {
	text-align: center;
}
.rankedproducts .title h1 {
	font-weight: 400;
}
.rankedproducts .inputProduct {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 80px;
}
.rankedproducts .inputProduct #productImage {
	cursor: pointer;
}
.rankedproducts .inputProduct #productDescription {
	cursor: pointer;
}
.rankedproducts .product-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px 60px 10px;
}
.rankedproducts .product-item #productImage {
	height: 220px;
	width: 220px;
}
.rankedproducts .product-item .description {
	display: flex;
	flex-direction: column;
	padding: 14px 10px 0 0;
}
.rankedproducts .product-item .description .detail #seller {
	font-size: 12px;
	margin-bottom: 4px;
	font-weight: 400;
}
.rankedproducts .product-item .description .detail #productDescription {
	font-size: 16px;
	margin-bottom: 8px;
	font-weight: 400;
}
.rankedproducts .product-item .description .price {
	font-size: 16px;
	font-weight: 800;
}
.rankedproducts .button {
	margin: auto;
	display: block;
}
