<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
        integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ScrollToPlugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js" integrity="sha512-eI+25yMAnyrpomQoYCqvHBmY4dLfqKWPnD4j8y0E3Js+yqpF26xncL4t81M1zxC+ISYfRoCN52rN/n0q2UIBZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <!--Swiper-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="products.css" />
    <link rel="stylesheet" href="../../css/common.css">
    <script src="products.js" type="module" defer></script>
    <script src="../../nav.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header id="header">
      <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/elice-rabbit.png" width="30" height="30" />
              <span class="has-text-link">쇼핑-n팀</span>
            </a>
          </div>
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="category" id="category">
        <div id="main-category">
          <ul id="input-category">
            <li><a href="/ranking" aria-current="page" class="category-page">BEST</a>
            </li>
          </ul>
        </div>
        <div id="sub-category">
            <ul id="submenu">
              <li>
                <a href="/cart" aria-current="page">
                  <span class="material-icons-outlined">
                    shopping_cart
                  </span>
                </a>
              </li>
            </ul>

          
        </div>
      </div>
    </header>

    <div class="container">
        <section class="categories" id="categories">
            <div class="m-category">
                <h1>CATEGORIES</h1>
                <ul class="s-category">
                    <li>하위카테고리1</li>
                    <li>하위카테고리2</li>
                    <li>하위카테고리3</li>
                </ul>
            </div>
        </section>
        <section class="rankedproducts" id="rankedproducts">
        <div class="title">
            <h1>CATEGORY</h1>
        </div>
        <div class="inputProduct" id="inputProduct">
        </div>
        </section>
    </div>

    <!-- 상단으로 가는 버튼 -->
    <div id="to-top">
      <i class="fa-solid fa-angle-up"></i>
    </div>
  </body>
</html>