<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>StoreStore</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
			sizes="32x32"
			href="/StoreStore-favicon.png"
    />
    <!-- sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;700&display=swap" rel="stylesheet">
		<!-- IONICONS -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule=""
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
		></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-detail.css" />
    <link rel="stylesheet" href="../../css/common.css">
    <script src="product-detail.js" type="module" defer></script>
    <script src="../../nav.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
			<div class="sub-menu">
				<!-- 회원가입,로그인 -->
				<ul id="navbar" class="navbar"></ul>
			</div>
			<div class="container-box">
				<div class="headerLeft">
					<div class="nav__toggle" id="nav-toggle">
						<div class="sidebarBtn">
							<ion-icon name="menu-outline"></ion-icon>
						</div>
						<div class="sidebarBtn hidden-Toggle">
							<ion-icon name="close-outline"></ion-icon>
						</div>
						<span class="sidebar-text">Menu</span>
					</div>
					<div class="l-navbar" id="categoryNavbar">
						<nav class="navbox">
							<div class="nav__brand">
								<div class="nav__brand">Category</div>
							</div>
						</nav>
						<nav class="nav">
							<div>
								<div class="nav__list" id="nav-list">
									<div class="nav__link active">
										<a href="/" class="nav_name">Home</a>
									</div>
									<div class="nav__link active">
										<a href="/ranking" class="nav_name">Best</a>
									</div>
									<div class="nav__link active">
										<a href="/newproducts" class="nav_name">New</a>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
				<h1 class="logo"><a href="/">StoreStore</a></h1>
				<div class="headerRight">
					<!-- 장바구니 -->
					<div id="sub-category">
						<ul id="submenu">
							<li>
                <form class="searchForm">
									<div class="search">
										<input type="text" placeholder=" " name="searchBar">
										<div>
												<svg>
														<use xlink:href="#path">
												</svg>
										</div>
                  </div>
								</form>
									
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
									<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
                    <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562" transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
									</symbol>
							</svg>
              <a href="/cart" aria-current="page">
                <ion-icon name="bag-handle-outline"></ion-icon>
              </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

    <!-- 제품 상세 설명 카드 -->
    <section class="section product-section">
      <div class="container">
        <div class="product-image">
          <img id="productImageTag" class="productImageTag" />
        </div>
        <div class="vertical">
          <div class="product-detail">
            <div class="tabs">
              <ul>
                <li id="manufacturerTag"></li>
              </ul>
            </div>
            <div class="content">
              <p class="subtitle" id="titleTag"></p>
              <h1 id="priceTag" class="priceTag"></h1>
              <p class="detail-description" id="detailDescriptionTag"></p>
            </div>
          </div>
          <div class="buttons-container">
            <button class="btn btn--gray" id="addToCartButton">
              장바구니 추가하기
            </button>
            <button class="btn" id="purchaseButton">
              바로 구매하기
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="section comment-section">
      <div class="container">
        <form id="comment-form">
          <div class="star-rate">
            <label for="star">별점을 매겨주세요</label>
            <div class="rating">
              <input type="radio" name="rating" id="rating-5">
              <label for="rating-5"></label>
              <input type="radio" name="rating" id="rating-4">
              <label for="rating-4"></label>
              <input type="radio" name="rating" id="rating-3">
              <label for="rating-3"></label>
              <input type="radio" name="rating" id="rating-2">
              <label for="rating-2"></label>
              <input type="radio" name="rating" id="rating-1">
              <label for="rating-1"></label>
            </div>
          </div>
          <div class="comment-box">
            <input type="text" id="comment-input" class="comment-input" placeholder="리뷰를 작성해 주세요">
            <input type="submit" value="등록" class="comment-btn">
          </div>
        </form>
        <div class="comment-list">
          <div class="comment-item-box">
            <div class="name-star">
              <p class="comment-item-username">이승훈</p>
              <div class="rating-item">
                <input type="radio" name="rating" id="rating-5" disabled="true">
                <label></label>
                <input type="radio" name="rating" id="rating-4" disabled="true">
                <label></label>
                <input type="radio" name="rating" id="rating-3" checked="true" disabled="true">
                <label></label>
                <input type="radio" name="rating" id="rating-2" disabled="true">
                <label></label>
                <input type="radio" name="rating" id="rating-1"  disabled="true">
                <label></label>
              </div>
            </div>
            <input class="comment" value="이거 정말 대박입니다." disabled="true"></input>
          </div>
        </div>
      </div>
    </section>
		<footer>
			<p class="copyright">Copyright © 2022 StoreStore - All Rights Reserved</p>
		</footer>
  </body>
</html>
