<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 아이콘 -->
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/elice-rabbit-favicon.png"
  />
  <!-- bulma css 관련 -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  <!-- 폰트 어썸: 아이콘 -->
  <script
    defer
    src="https://kit.fontawesome.com/7630448495.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="payment.css">
  <script src="payment.js" type="module" defer></script>
  <title>쇼핑-8팀</title>
</head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑-n팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- 결제화면 -->
    <div class="block account-header">
        <h1 class="title">주문결제</h1>
    </div>
    <div class="container">
      <div>
        <h3 class="title">주문상품</h3>
      </div>
      <div class="orderTable">
        <div class="orderTableRowGroup">
          <div class="orderTableTitle">
            <div class="orderTableCell">주문번호</div>
            <div class="orderTableCell">주문상품</div>
            <div class="orderTableCell">옵션</div>
            <div class="orderTableCell">가격</div>
            <div class="orderTableCell">총 금액</div>
          </div>
        </div>
        <div class="orderTableRow">
          <!-- 예시 데이터. 실제로는 DB에서 장바구니+현재물건 가져옴 -->
          <div class="orderTableCell" id="orderNumber">asdf1</div>
          <div class="orderTableCell" id="orderInfo">알록달록 티셔츠</div>
          <div class="orderTableCell" id="orderState">1</div>
          <div class="orderTableCell" id="orderSignUp">30000</div>
          <div class="orderTableCell" id="orderTotalPrice">30000</div>
        </div>
      </div>
      <div>
          <h3 class="title">주문자 정보</h3>
      </div>
      <!-- 아직 테이블 미완성. 테이블 형식으로 만들다 시간이 부족해서 텍스트-input 형태로 작성 -->
      <!-- <div class="userTable">
          <div class="userTableColGroup">
            <div class="userTableTitle">
              <div class="userTableCell">이름</div>
              <div class="userTableCell">주소</div>
              <div class="userTableCell">전화번호</div>
              <div class="userTableCell">이메일</div>
            </div>
          </div>
          <div class="userTableRow">
            예시 데이터. 실제로는 DB에서 장바구니+현재물건 가져옴
            <div class="userTableCell" id="orderNumber"><input type="text"></div>
            <div class="userTableCell" id="orderInfo"><input type="text"></div>
            <div class="userTableCell" id="orderState"><input type="text"></div>
            <div class="userTableCell" id="orderSignUp"><input type="text"></div>
            <div class="userTableCell" id="orderTotalPrice"><input type="text"></div>
          </div>
        </div> -->
        <div class="box delivery-info">
            <div class="form-container">
                <form id="loginForm">
                    <div class="field is-horizontal">
                        <label class="label">이름</label>
                        <div class="control">
                            <input type="text" id="nameInput" disabled>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <label class="label">주소</label>
                        <input type="text" id="addressInput" disabled>
                    </div>
                    <div class="field is-horizontal">
                        <label class="label">전화번호</label>
                        <div class="control">
                            <input type="text" id="phoneNumberInput" disabled>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <label class="label">요청사항</label>
                        <div class="select">
                            <select id="requestSelectBox">
                                <option value="0">배송시 요청사항을 선택해 주세요.</option>
                                <option value="1" class="select-option">직접 수령하겠습니다.</option>
                                <option value="2" class="select-option">배송 전 연락바랍니다.</option>
                                <option value="3" class="select-option">부재 시 경비실에 맡겨주세요.</option>
                                <option value="4" class="select-option">부재 시 문 앞에 놓아주세요.</option>
                                <option value="5" class="select-option">부재 시 택배함에 넣어주세요.</option>
                                <option value="6" class="select-option">직접 입력</option>
                            </select>
                        </div>
                    </div>
                        <!-- 주문 정보 요약 -->
                    <div class="tile is-parent tile-order-summary">
                        <div class="box order-summary">
                            <div class="header">
                                <p>결제정보</p>
                            </div>
                            <div class="order-info">
                                <div class="info">
                                <p>주문상품</p>
                                <p class="products-title" id="productsTitle"></p>
                                </div>
                                <div class="info">
                                <p>상품총액</p>
                                <p id="productsTotal"></p>
                                </div>
                                <div class="info">
                                <p>배송비</p>
                                <p id="deliveryFee">3000</p>
                                </div>
                            </div>
                            <div class="total">
                                <p class="total-label">총 결제금액</p>
                                <p class="total-price" id="orderTotal"></p>
                            </div>
                            <div class="purchase">
                                <button class="button is-info" id="checkoutButton">
                                결제하기
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>
    </div>
    <div>

    </div>
  </body>
</html>