.marginbox > h1 {
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1.5rem 0 0;
}
.container > h3,
.header > p {
	font-size: 18px;
	font-weight: 700;
	padding: 2rem 0 1rem;
	margin: 0;
	border-bottom: 1px solid #141414;
}
.adressfind-btn {
	cursor: pointer;
}
.form-container {
	padding: 1rem 0 0;
}
.field {
	display: flex;
	padding: 0 0 1rem;
	align-items: center;
}
.label {
	font-size: 14px;
	font-weight: 700;
	width: 10%;
}
input {
	border: 1px solid #e5e5e5;
	padding: 0 1rem;
	height: 2.3rem;
	line-height: 2.3rem;
}
.input-gray {
	background-color: #eee;
}
input:focus {
	outline: none !important;
	border: 1px solid #141414;
	background-color: #fff;
}
.input-gray:focus {
	outline: none !important;
	border: 1px solid #e5e5e5;
	background-color: #eee;
}
input:-webkit-autofill,
.input-gray:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.account-header {
	border-bottom: 1px solid;
	display: block;
	padding-bottom: 0.7rem;
}

.orderTable {
	display: table;
	width: 100%;
}

.orderTableRowGroup {
	display: table-row-group;
}

.orderTableTitle {
	display: table-row;
	font-weight: bold;
	background-color: #9acbdb;
}

.orderTableRow {
	display: table-row;
}

.orderTableCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#addressInput {
	width: 400px;
}

/* 아래는 데모사이트 참고용으로 복붙. 이후 삭제 */
.header-search-input {
	width: 20rem;
}

.navbar-menu .is-info:focus {
	box-shadow: none;
	outline: none;
}

.cart-header {
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
}

.cart-header.title {
	margin-bottom: 0;
	padding-top: 2rem;
}

.cart-header.subtitle {
	line-height: 1.7;
	margin-bottom: 0;
	margin-top: 0;
	padding: 2rem 1rem 0;
}

.subtitle-cart {
	cursor: pointer;
}

.title:not(.is-spaced) + .subtitle {
	margin-top: 0;
}

.cart-products {
	flex: none;
	height: 100%;
	width: 60%;
}

.delivery-info {
	width: 100%;
}

.delivery-info .subtitle {
	padding-left: 0.4rem;
}

.delivery-info .field-label {
	font-size: 14px;
	font-weight: 700;
	width: 10%;
}

.select select {
	color: rgba(0, 0, 0, 0.8);
	height: 2.2rem;
	width: 13rem;
}

.select .select-option {
	color: #000;
	font-size: 1.1rem;
}

.delivery-info .button {
	height: 3rem;
}

.delivery-info .field-body .control,
.delivery-info .field-body .input {
	height: 100%;
}

.delivery-info .custom-request {
	display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.order-summary {
	width: 100%;
}

.order-summary .header {
	font-size: 1.4rem;
}

.order-info {
	border-bottom: 1px solid #e5e5e5;
}

.order-info .info {
	display: flex;
	font-size: 16px;
	justify-content: space-between;
}

.order-info .info p {
	display: block;
	max-width: 70%;
}

.order-info .products-title {
	text-align: right;
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.total P {
	display: block;
}

.total .total-label {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 0.5rem;
}

.total .total-price {
	font-size: 2rem;
	font-weight: 700;
}

.purchase {
	margin: 1rem 0 5rem;
	text-align: center;
}

.button {
	max-width: 20rem;
	border: 1px solid #141414;
	padding: 0 5rem;
	text-transform: capitalize;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	transition: 0.3s;
	height: 3rem;
	line-height: 2.3rem;
	cursor: pointer;
	background-color: #141414;
	color: #fff;
	box-sizing: border-box;
	white-space: nowrap;
	font-weight: 700;
}
.button:hover {
	color: #141414;
	background-color: #fff;
}

.tit-box {
	display: flex;
	align-items: center;
	height: 56px;
	border-bottom: 1px solid #e2e3e6;
	clear: both;
}

.checkbox-btn {
	width: 5%;
	text-align: center;
}

input[type='checkbox'] {
	cursor: pointer;
}

.product-info-cell {
	width: 50%;
	text-align: center;
}

.product-option-cell {
	width: 23%;
	text-align: center;
}

.product-price-cell {
	width: 21%;
	text-align: center;
}

.cart-seller-list {
	list-style: none;
}

.cart-item .btn-quanity-box .input_num {
	display: flex;
	align-items: center;
	border-left: none;
	border-right: none;
	clear: both;
	font-size: 16px;
}

.cart-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #e2e3e6;
	clear: both;
}

.item-info {
	width: 50%;
	padding: 22px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.item-option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.item-option-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 23%;
	height: 144px;
	background: #fff;
	padding: 0;
	margin-bottom: 0;
}
.item-buy-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 144px;
	width: 21%;
}

.product_img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-left: 10px;
}
.product_img img {
	width: 100px;
}

.product_info {
	width: calc(100% - 164px);
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
	overflow: hidden;
	font-size: 16px;
}

.product_name {
	margin: 0;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.product_price {
	display: none;
}

.btn-quanity-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn-quanity-box .num_minus_btn {
	display: none;
}

.btn-quanity-box .num_plus_btn {
	display: none;
}

.btn-quanity-box .input_num {
	width: 30px;
	height: 30px;
	appearance: none;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
	background-color: #fff;
	color: #000;
}

.btn-item-buy-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.item-price {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
}

.tit-box p {
	font-size: 16px;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
	margin: 0;
}

.btn-item-buy {
	width: 92px;
	height: 32px;
	font-size: 13px;
	line-height: 32px;
	color: #fff;
	border: 0;
	background-color: #000;
	padding: 0;
}

.payment-price-info {
	margin: 50px 0;
}

.payment-price-info-box {
	width: 100%;
	padding: 26px 0;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.payment-price-info-box strong {
	margin-bottom: 2px;
	font-size: 20px;
	font-weight: 700;
}

.payment-price-info-box p {
	color: #d3a164;
	font-size: 24px;
	font-weight: 700;
}

.hide {
	display: none;
}

.inputTextnButton {
	display: inline-block;
}
