<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StoreStore</title>
		<!-- 아이콘 -->
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/StoreStore-favicon.png"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Prata&display=swap"
			rel="stylesheet"
		/>

		<!-- IONICONS -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule=""
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
		></script>

		<!-- 커스텀 css, js -->
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<link rel="stylesheet" href="../../css/common.css" />
		<script src="../../nav.js" type="module" defer></script>
		<link rel="stylesheet" href="userinfo.css" />
		<script src="userinfo.js" type="module" defer></script>
	</head>
	<body>
		<!-- 헤더 -->
		<header>
			<div class="sub-menu">
				<!-- 회원가입,로그인 -->
				<ul id="navbar" class="navbar"></ul>
			</div>
			<div class="container-box">
				<div class="headerLeft">
					<div class="nav__toggle" id="nav-toggle">
						<div class="sidebarBtn">
							<ion-icon name="menu-outline"></ion-icon>
						</div>
						<div class="sidebarBtn hidden-Toggle">
							<ion-icon name="close-outline"></ion-icon>
						</div>
						<span class="sidebar-text">Menu</span>
					</div>
					<div class="l-navbar" id="categoryNavbar">
						<nav class="navbox">
							<div class="nav__brand">
								<div class="nav__brand">Category</div>
							</div>
						</nav>
						<nav class="nav">
							<div>
								<div class="nav__list" id="nav-list">
									<div class="nav__link active">
										<a href="/" class="nav_name">Home</a>
									</div>
									<div class="nav__link active">
										<a href="/ranking" class="nav_name">Best</a>
									</div>
									<div class="nav__link active">
										<a href="/newproducts" class="nav_name">New</a>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
				<h1 class="logo"><a href="/">StoreStore</a></h1>
				<div class="headerRight">
					<!-- 장바구니 -->
					<div id="sub-category">
						<ul id="submenu">
							<li>
								<a href="/cart" aria-current="page">
									<ion-icon name="bag-handle-outline"></ion-icon>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<!-- 회원정보 박스 -->
		<section class="section">
			<div class="container">
				<div class="block account-header">
					<h1 id="userInfoTitle" class="label">
						회원정보 관리(test2@test.com)
					</h1>
				</div>
				<div class="menu-container">
					<div class="form-container">
						<form id="loginForm">
							<div class="field">
								<label class="label">이름</label>
								<div class="control">
									<input type="text" id="nameInput" />
								</div>
							</div>
							<div class="field">
								<label class="label">비밀번호</label>
								<button id="updatePasswordButton">변경하기</button>
								<div class="control">
									<input type="password" id="passwordInput" />
								</div>
							</div>
							<div class="field">
								<label class="label" id="passwordConfirmLabel"
									>비밀번호 확인</label
								>
								<div class="control">
									<input type="password" id="passwordConfirmInput" />
								</div>
							</div>
							<div class="field">
								<label class="label">주소</label>
							</div>
							<input type="text" id="postcodeInput" placeholder="우편번호" />
							<input
								type="button"
								onclick="sample6_execDaumPostcode()"
								value="우편번호 찾기"
							/><br />
							<input type="text" id="addressInput" placeholder="주소" /><br />
							<input
								type="text"
								id="detailAddressInput"
								placeholder="상세주소"
							/>
							<div class="field">
								<label class="label">전화번호</label>
								<div class="control">
									<input
										type="text"
										id="phoneNumberInput"
										placeholder="010-1234-5678"
									/>
								</div>
							</div>
							<div>
								<button id="saveButton">저장하기</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
	<!-- 다음 주소 api -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 각 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var addr = ''; // 주소 변수
					var extraAddr = ''; // 참고항목 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') {
						// 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;
					} else {
						// 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
					if (data.userSelectedType === 'R') {
						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraAddr +=
								extraAddr !== '' ? ', ' + data.buildingName : data.buildingName;
						}
					}
					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('postcodeInput').value = data.zonecode;
					document.getElementById('addressInput').value = addr;
					// 커서를 상세주소 필드로 이동한다.
					document.getElementById('detailAddressInput').focus();
				},
			}).open();
		}
	</script>
</html>
