<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>StoreStore</title>
		<!-- 아이콘 -->
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/StoreStore-favicon.png"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Prata&display=swap"
			rel="stylesheet"
		/>

		<!-- IONICONS -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule=""
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
		></script>

		<!-- 구글 OAuth -->
		<script src="https://accounts.google.com/gsi/client" async defer></script>
		<!-- 카카오 OAuth -->
		<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
		<!-- sweetalert1 -->
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<!-- 커스텀 css, js -->
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="register.css" />
		<script src="register.js" type="module" defer></script>
	</head>
	<body>
		<!-- 헤더 -->
		<div class="sub-menu">
			<!-- 회원가입,로그인 -->
			<ul id="navbar" class="navbar"></ul>
		  </div>
		  <div class="container-box">
			<div class="headerLeft">
			</div>
			<h1 class="logo"><a href="/">StoreStore</a></h1>
			<div class="headerRight">
			  <!-- 장바구니 -->
			</div>
		  </div>
		</header>

		<!-- 회원가입 폼(Form) -->
		<div class="register-user-form-container">
			<form class="register-user-form-box" id="registerUserForm">
				<p>회원가입</p>
				<div class="inner">
					<div class="field">
						<label class="label" for="fullNameInput">이름</label>
						<div class="control">
							<input
								class="input"
								id="fullNameInput"
								type="text"
								placeholder="유재석"
								autocomplete="on"
							/>
						</div>
						<div class="failname-message hide">
							이름은 2글자 이상이어야 합니다.
						</div>
					</div>

					<div class="field">
						<label class="label" for="emailInput">이메일</label>
						<div class="control">
							<input
								class="input"
								id="emailInput"
								type="email"
								placeholder="abc@example.com"
								autocomplete="on"
							/>
						</div>
						<div class="failemail-message hide">이메일 형식이 맞지 않습니다.</div>
						<div class="success-message hide">이메일 인증이 완료되었습니다.</div>
						<button id="send-email-button" class="btn btn--gray">인증요청</button>
					</div>

					<div class="field">
						<label class="label" for="passwordInput">비밀번호</label>
						<div class="control">
							<input
								class="input"
								id="passwordInput"
								type="password"
								placeholder="********"
								autocomplete="off"
							/>
						</div>
						<div class="failpass-message hide">
							비밀번호는 4글자 이상이어야 합니다.
						</div>
					</div>

					<div class="field mb-5">
						<label class="label" for="passwordConfirmInput">비밀번호 확인</label>
						<div class="control">
							<input
								class="input"
								id="passwordConfirmInput"
								type="password"
								placeholder="********"
								autocomplete="off"
							/>
						</div>
						<div class="misspass-message hide">비밀번호가 일치하지 않습니다</div>
					</div>
				</div>

				<button class="btn" id="submitButton">
					회원가입하기
				</button>
			</form>
		</div>
	</body>
</html>
