/* COMMON */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.05em;
	color: #4c4c4c;
	max-width: 100%;
}
img {
	display: block;
}
a {
	text-decoration: none;
	color: #4c4c4c;
}
li {
	list-style: none;
}
h1 {
	font-size: 28px;
	line-height: 1.15;
	letter-spacing: -0.26px;
	font-weight: 600;
}

/* HEADER */
.category {
	display: flex;
	width: 100%;
	background: #fff;
	filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 9;
}
#main-category {
	display: flex;
	width: 100%;
	padding: 0 50px;
	text-align: center;
}
#main-category > ul {
	display: flex;
}
#main-category > ul > li {
	font-size: 16px;
	font-weight: 600;
	padding-top: 16px;
	width: 124px;
	height: 55px;
	line-height: 20px;
	color: #4c4c4c;
	background-color: #fff;
	cursor: pointer;
}
#main-category > ul > li:hover > a {
	color: #4287f5;
	border-bottom: 2px solid #4287f5;
	padding-bottom: 3px;
}
#main-category > ul > li > ul {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	display: none;
	padding: 10px 0;
	background-color: #fff;
}
#main-category > ul > li:hover > ul {
	display: block;
}
#main-category > ul > li > ul > li {
	padding: 10px 0;
}
#main-category > ul > li > ul > li:hover > a {
	color: #4287f5;
}
#sub-category {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 50px;
}
#sub-category .material-icons-outlined {
	font-size: 30px;
	color: #4c4c4c;
}
#sub-category:hover .material-icons-outlined {
	color: #4287f5;
}
